.drawer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.drawer {
    display: inline-block;
    background-color: $wfbc-blue-2;
    box-shadow: 5px 0px 8px $wfbc-black-1;
    overflow: hidden;
    z-index: 1;
    flex: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: inherit;
    z-index: 2;
    background-color: $wfbc-grey-1
}

    // will only have this class once on load
.mobile-closed .drawer {
    width: 0px !important;
    // transition: width .4s ease-in-out;
}

    // will only have this class once on load
.tablet-mini .drawer {
    width: 128px !important;
    // transition: width .4s ease-in-out;
}

.drawer-container.drawer-full:not(.mobile-closed):not(.tablet-mini) .drawer {
    width: 256px !important;
    transition: width .4s ease-in-out;
}

.drawer-container.drawer-mini .drawer{
    width: 128px !important;
    transition: width .4s ease-in-out;
}

.drawer-container.drawer-closed .drawer{
    width: 0px !important;
    transition: width .4s ease-in-out;
}

.side-menu {
    position: absolute;
    margin-top: 128px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.side-menu.slide-in {
    animation: slide-in 0.4s forwards;
    -webkit-animation: slide-in 0.4s forwards;
    transition-timing-function: ease-in-out;
}

.side-menu.slide-out {
    animation: slide-out 0.4s forwards;
    -webkit-animation: slide-out 0.4s forwards;
    transition-timing-function: ease-in-out;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}