// Colors

$wfbc-white-1: #fdfffc;
$wfbc-black-1: #02111b;
$wfbc-red-1: #bf211e;
$wfbc-blue-1: #07689f;
$wfbc-blue-2: #13293d;
$wfbc-yellow-1: #ffc93c;
$wfbc-grey-1: #b9cdda;
$wfbc-grey-2: #9db5b2;

// Fonts

body {
    font-family: Commissioner, Amatic SC;
}

.bold-600 {
    font-weight: 600;
}