@inject AppState AppState 

<div class="menu-bar">
    <button class="drawer-control" @onclick="ToggleDrawer" aria-label="Drawer Toggle">
        <svg class="ham ham-rotate ham8 @AppState.DrawerActive toggler-icon" viewBox="0 0 100 100" width="42" >
            <path class="line top"
                  d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
            <path class="line middle"
                  d="m 30,50 h 40" />
            <path class="line bottom"
                  d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
        </svg>
    </button>
    <button class="drawer-control" @onclick="MinifyDrawer" aria-label="Drawer Minified Toggle">
        <svg class="arrow arrow-rotate @AppState.Minified toggler-icon" viewBox="0 0 100 100" width="42" >
            <path class="line line-1"
                  d="m 27,50.950637 23,-23 c 0,0 6.617197,-1.66504 10,-2 3.317111,-0.32846 6.920402,-1.27561 10,0 4.35521,1.80398 5.64479,8.19601 10,10 1.539799,0.6378 3.460201,0.6378 5,0 4.35521,-1.80399 8.196013,-5.64479 10,-10 1.275611,-3.0796 1.275611,-6.92041 0,-10 -0.901994,-2.17761 -2.948919,-3.8387 -5,-5 -5.979877,-3.38575 -13.148398,-4.47296 -20,-5 -13,-1 -27,-1 -40,0 -6.851602,0.52704 -14.020123,1.61425 -20,5 -2.0510806,1.1613 -4.0980062,2.82239 -4.9999997,5 -1.2756114,3.07959 -1.2756114,6.9204 0,10 1.803987,4.35521 5.6447897,8.19601 9.9999997,10 1.539799,0.6378 3.460201,0.6378 5,0 4.35521,-1.80399 5.64479,-8.19602 10,-10 3.079598,-1.27561 6.682889,-0.32846 10,0 3.382803,0.33496 10,2 10,2 l 23,23" />
            <path class="line line-2"
                  d="M 27.59038,50 H 72.40962" />
            <path class="line line-3"
                  d="m 27,49 23,23 c 0,0 6.617197,1.66504 10,2 3.317111,0.32846 6.920402,1.27561 10,0 4.35521,-1.80398 5.64479,-8.19601 10,-10 1.5398,-0.6378 3.4602,-0.6378 5,0 4.35521,1.80399 8.19601,5.64479 10,10 1.27561,3.0796 1.27561,6.92041 0,10 -0.90199,2.17761 -2.94892,3.8387 -5,5 -5.97988,3.38575 -13.1484,4.47296 -20,5 C 57,95 43,95 30,94 23.148398,93.47296 15.979877,92.38575 10,89 7.948919,87.8387 5.901994,86.17761 5,84 3.724389,80.92041 3.724389,77.0796 5,74 c 1.803987,-4.35521 5.64479,-8.19601 10,-10 1.539799,-0.6378 3.460201,-0.6378 5,0 4.35521,1.80399 5.64479,8.19602 10,10 3.079598,1.27561 6.682889,0.32846 10,0 3.382803,-0.33496 10,-2 10,-2 L 73,49" />
        </svg>
    </button>
    <button id="slack-button" class="top-menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="42"><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path class="line" d="m 89.674431,52.564715 c -1.10712,-3.39342 -4.80349,-5.19728 -8.21415,-4.08996 l -8.10701,2.69687 -5.41063,-16.07406 8.10702,-2.69687 c 3.41065,-1.10733 5.19633,-4.78651 4.10707,-8.19778 -1.10713,-3.39342 -4.8035,-5.19729 -8.21415,-4.08996 l -8.10701,2.69687 -2.80353,-8.39424 c -1.10712,-3.39341 -4.80349,-5.1972802 -8.21414,-4.08996 -3.41066,1.10733 -5.19635,4.78651 -4.10708,8.19778 l 2.80353,8.39424 -16.6783,5.57234 -2.80353,-8.39423 c -1.10712,-3.39342 -4.80349,-5.19729 -8.21414,-4.08996 -3.410661,1.10732 -5.196351,4.7865 -4.107081,8.19778 l 2.80352,8.39423 -8.08915,2.67901 c -3.41065,1.10733 -5.1963402,4.78651 -4.10707,8.19778 0.89284,2.58971 3.41066,4.28642 5.9999,4.39358 1.21426,0.1786 2.14282,-0.28576 10.303401,-3.00049 l 5.41062,16.07407 -8.10701,2.69687 c -3.392801,1.10733 -5.196331,4.80436 -4.107071,8.19778 0.89284,2.58971 3.410661,4.28641 5.999901,4.39357 1.21427,0.17861 2.14282,-0.28576 10.3034,-3.00049 l 2.80352,8.39424 c 1.05356,3.01836 4.41065,5.17942 8.21416,4.08996 3.41065,-1.10732 5.19634,-4.7865 4.10707,-8.19778 l -2.80352,-8.39423 16.71401,-5.59021 2.80353,8.39424 c 1.05355,3.01835 4.41064,5.17942 8.21414,4.08995 3.41066,-1.10732 5.19634,-4.78649 4.10708,-8.19777 l -2.80353,-8.39424 8.10701,-2.69688 c 3.3928,-1.0716 5.19634,-4.76864 4.08922,-8.16205 z m -45.37425,8.42996 -5.41063,-16.10979 16.69616,-5.59021 5.41062,16.10979 z" /></svg>
    </button>
    <button id="manager-button" class="top-menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="35">
            <path class="line" d="M435.744,73.723l0.001,0.002C387.555,26.183,323.721,0,256.005,0C188.293,0,124.457,26.183,76.257,73.723
			C27.082,122.203,0,186.938,0,256.005c0,69.056,27.081,133.791,76.256,182.281C124.462,485.821,188.298,512,256.005,512
			c67.712,0,131.544-26.179,179.739-73.713C484.918,389.796,512,325.061,512,256.006C512,186.939,484.918,122.203,435.744,73.723z
			 M15.862,256.005c0-62.128,23.374-120.51,65.969-165.302c9.058,9.54,17.312,19.814,24.691,30.69H92.378v15.862h24.044
			c8.586,15.058,15.487,30.975,20.605,47.479h-23.532v15.862h27.859c3.663,15.505,5.78,31.42,6.302,47.479h-23.608v15.862h23.609
			c-0.523,16.053-2.639,31.963-6.302,47.468h-27.86v15.862h23.532c-5.117,16.502-12.019,32.42-20.606,47.479H92.378v15.862h14.147
			c-7.377,10.878-15.633,21.154-24.694,30.699C39.236,376.505,15.862,318.123,15.862,256.005z M256.004,496.137
			c-60.865,0.001-118.387-22.566-162.876-63.69c12.177-12.797,22.984-26.84,32.277-41.841h30.311v-15.862h-21.22
			c7.951-15.157,14.341-31.061,19.086-47.479h23.251v-15.862h-19.211c3.43-15.541,5.411-31.44,5.901-47.468h23.863v-15.862h-23.863
			c-0.49-16.034-2.471-31.938-5.902-47.479h19.211v-15.862h-23.252c-4.745-16.419-11.135-32.323-19.085-47.479h21.22v-15.862
			h-30.314c-9.297-15.001-20.104-29.04-32.276-41.831c44.486-41.131,102.009-63.701,162.879-63.701
			c60.874,0,118.394,22.57,162.867,63.7c-12.174,12.794-22.979,26.833-32.269,41.831h-30.322v15.862h21.228
			c-7.948,15.147-14.34,31.051-19.092,47.479h-23.242v15.862h19.201c-3.43,15.543-5.411,31.446-5.902,47.479h-23.863v15.862h23.863
			c0.491,16.029,2.471,31.927,5.902,47.468h-19.201v15.862h23.243c4.75,16.418,11.141,32.322,19.088,47.479h-21.225v15.862h30.311
			c9.284,14.987,20.092,29.029,32.279,41.84C374.395,473.57,316.876,496.137,256.004,496.137z M430.17,421.305
			c-9.068-9.554-17.323-19.83-24.695-30.698h14.147v-15.862h-24.042c-8.58-15.061-15.481-30.978-20.603-47.479h23.528v-15.862
			h-27.859c-3.663-15.503-5.78-31.413-6.302-47.468h23.609v-15.862h-23.609c0.522-16.059,2.639-31.973,6.302-47.479h27.859v-15.862
			h-23.529c5.124-16.513,12.028-32.431,20.613-47.479h24.033v-15.862h-14.138c7.375-10.875,15.627-21.149,24.685-30.689
			c42.595,44.791,65.968,103.173,65.968,165.301C496.138,318.122,472.765,376.503,430.17,421.305z" />
        </svg>
    </button>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    void ToggleDrawer()
    {
        AppState.SetCloseDrawer(toggle: true);
    }
    void MinifyDrawer()
    {
        AppState.SetMinifyDrawer(toggle: true);
    }
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
