
<ul>
    <li class="nav-menu-item right-column-item"><a href="#">Submenu</a></li>
    <li class="nav-menu-item right-column-item"><a href="#">Juan Soto</a></li>
    <li class="nav-menu-item right-column-item"><a href="#">Some item</a></li>
    <li class="nav-menu-item right-column-item"><a href="#">Paddack</a></li>
    <li class="nav-menu-item right-column-item"><a href="#">Polar Pete</a></li>
    <li class="nav-menu-item right-column-item"><a href="#">Xander</a></li>
    <li class="nav-menu-item right-column-item"><a href="#">Biber</a></li>
</ul>