.drawer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.drawer {
  display: inline-block;
  background-color: #13293d;
  -webkit-box-shadow: 5px 0px 8px #02111b;
          box-shadow: 5px 0px 8px #02111b;
  overflow: hidden;
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  z-index: 2;
  background-color: #b9cdda;
}

.mobile-closed .drawer {
  width: 0px !important;
}

.tablet-mini .drawer {
  width: 128px !important;
}

.drawer-container.drawer-full:not(.mobile-closed):not(.tablet-mini) .drawer {
  width: 256px !important;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.drawer-container.drawer-mini .drawer {
  width: 128px !important;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.drawer-container.drawer-closed .drawer {
  width: 0px !important;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.side-menu {
  position: absolute;
  margin-top: 128px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.side-menu.slide-in {
  animation: slide-in 0.4s forwards;
  -webkit-animation: slide-in 0.4s forwards;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.side-menu.slide-out {
  animation: slide-out 0.4s forwards;
  -webkit-animation: slide-out 0.4s forwards;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

.menu-bar {
  height: 48px;
  background-color: #fdfffc;
  -webkit-box-shadow: 0px 5px 8px #02111b;
          box-shadow: 0px 5px 8px #02111b;
}

.drawer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: inherit;
}

.logo-img {
  height: 128px;
}

/* start the small logo out of view */
.drawer-logo .drawer-logo-small {
  position: absolute;
  margin-bottom: 256px;
  z-index: 1;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.drawer-logo .drawer-logo-large {
  position: absolute;
  right: 0;
}

/* move small logo up if closing from mini menu */
.drawer-closed .drawer .drawer-logo-small {
  animation: slide-up 0.4s forwards;
  -webkit-animation: slide-up 0.4s forwards;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/* move small logo down when full menu collapses */
.drawer-mini .drawer .drawer-logo-small {
  animation: slide-down 0.4s forwards;
  -webkit-animation: slide-down 0.4s forwards;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/* move the small logo back up if the menu is expanded */
.drawer-full .drawer .drawer-logo-small {
  animation: slide-up 0.4s forwards;
  -webkit-animation: slide-up 0.4s forwards;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/* make sure the small logo is in place for tablets */
.tablet-mini .drawer .drawer-logo-small {
  animation: slide-down 0.4s forwards;
  -webkit-animation: slide-down 0.4s forwards;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@keyframes slide-down {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slide-down {
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}
/*# sourceMappingURL=styles.css.map */