@page "/results/2016"

<h2>World Fantasy Baseball Classic</h2>
<h3>2016 Results</h3>


<ol>
    <li><strong>MA⋯CHE⋯TE</strong> - Jake</li>
    <li><strong>Babbitt in the Hat</strong> - Mark</li>
    <li><strong>Buttsweat and tears</strong> - Clint</li>
    <li><strong>Pony Express: Fury Road</strong> - Josh</li>
    <li><strong>PC: Return to the Throne</strong> - Rocky</li>
    <li><strong>Any Given Everyday</strong> - Joe</li>
    <li><strong>French Baguettes</strong> - Justin</li>
    <li><strong>Chudley Cannons</strong> - Tyler</li>
    <li><strong>Baked Alaskans</strong> - David</li>
    <li><strong>Time VORP</strong> - George</li>
</ol>

<h4>Detailed results coming soon!</h4>

@code {

}
