@page "/results/2011"

<h2>World Fantasy Baseball Classic</h2>
<h3>2011 Results</h3>


<ol>
    <li><strong>Chudley Cannons</strong> - Tyler</li>
    <li><strong>(T2) Epic baseball super team</strong> - Rocky</li>
    <li value=2><strong>(T2) Puff Puff Pitch</strong> - Josh</li>
    <li value=4><strong>Randy Jackson's Autograph</strong> - Joe</li>
    <li><strong>Team 2</strong> - </li>
    <li><strong>Bingo! Dino DNA!</strong> - Jake</li>
    <li><strong>Team 3</strong> - </li>
    <li><strong>Team 1</strong> - </li>
    <li><strong>Legend, wait for it...ary</strong> - Justin</li>
</ol>

<h4>Detailed results coming soon!</h4>

@code {

}
