@page "/results/2011"

@using WFBC.Client.Shared.Components.Buttons

<div class="flex flex-col m-3 lg:m-6">
    <h2>World Fantasy Baseball Classic 2011</h2>
    <Button ButtonText="Rotowire League" Href="https://www.rotowire.com/mlbcommish/league.php?leagueID=812&year=2011" AriaLabel="view managers" MaxWidth="max-w-full" Target="_blank" />
    <div class="border rounded-xl shadow-sm p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                <tr>
                                    <td>1</td>
                                    <td>Chudley Cannons</td>
                                    <td>Tyler</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>(T2) Epic baseball super team</td>
                                    <td>Rocky</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>(T2) Puff Puff Pitch</td>
                                    <td>Josh</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Randy Jackson's Autograph</td>
                                    <td>Joe</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Team 2</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Bingo! Dino DNA!</td>
                                    <td>Jake</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Team 3</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Team 1</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Legend, wait for it...ary</td>
                                    <td>Justin</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
