@page "/results/2014"

<div class="flex flex-col m-3 lg:m-6">
    <h2>World Fantasy Baseball Classic</h2>
    <h3>2014 Results</h3>
    <div class="border rounded-xl shadow-sm p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                <tr>
                                    <td>1</td>
                                    <td>MA⋯CHE⋯TE</td>
                                    <td>Jake</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Chudley Cannons</td>
                                    <td>Tyler</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Shifty Ponies</td>
                                    <td>Josh</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Science Dawgs</td>
                                    <td>David</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Australian Girls Choir</td>
                                    <td>Justin</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Buttsweat and tears</td>
                                    <td>Clint</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Babbitt Beerhounds</td>
                                    <td>Mark</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Gardenhosers</td>
                                    <td>Kyle</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Pube Cruisers 3.0</td>
                                    <td>Rocky</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Any Given Everyday</td>
                                    <td>Joe</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
