@page "/results/2021"

<h2>World Fantasy Baseball Classic</h2>
<h3>2021 Results</h3>


<ol>
    <li><strong>Pony Express</strong> - Josh</li>
    <li><strong>Pube Cruisers</strong> - Rocky</li>
    <li><strong>Babb Ruth</strong> - Mark</li>
    <li><strong>TAIJ(ERON SANA)uan (not yet a)Walker</strong> - Clint</li>
    <li><strong>Fangorn Fighting Ents</strong> - Justin</li>
    <li><strong>Springfield Isodopes</strong> - David</li>
    <li><strong>Chudley Cannons</strong> - Tyler</li>
    <li><strong>MA⋯CHE⋯TE</strong> - Jake</li>
    <li><strong>Every Given Anyday</strong> - Joe</li>
    <li><strong>Kent's Dents</strong> - Kent</li>
    <li><strong>Series-less in Seattle</strong> - Andy</li>
    <li><strong>Justin Turner Overdrive</strong> - Patrick</li>
</ol>

<h4>Detailed results and results going back to 2011 coming soon!</h4>

@code {

}
