@page "/results/2019"

<h2>World Fantasy Baseball Classic</h2>
<h3>2019 Results</h3>


<ol>
    <li><strong>Pube Cruisers</strong> - Rocky</li>
    <li><strong>Rye Bread and Mustard</strong> - Justin</li>
    <li><strong>Pony Express</strong> - Josh</li>
    <li><strong>4 Stroke Gang</strong> - Clint</li>
    <li><strong>MA⋯CHE⋯TE</strong> - Jake</li>
    <li><strong>Gallo'd Be Thy Reign</strong> - Mark</li>
    <li><strong>Any Given Everyday</strong> - Joe</li>
    <li><strong>Chudley Cannons</strong> - Tyler</li>
    <li><strong>Our Yordan Savior</strong> - David</li>
    <li><strong>Kent’s Dents</strong> - Kent</li>
    <li><strong>Series-less in Seattle</strong> - Andy</li>
    <li><strong>A Starlin is Born</strong> - Patrick</li>
</ol>

<h4>Detailed results coming soon!</h4>

@code {

}
