@page "/results/2014"

<h2>World Fantasy Baseball Classic</h2>
<h3>2014 Results</h3>


<ol>
    <li><strong>MA⋯CHE⋯TE</strong> - Jake</li>
    <li><strong>Chudley Cannons</strong> - Tyler</li>
    <li><strong>Shifty Ponies</strong> - Josh</li>
    <li><strong>Science Dawgs</strong> - David</li>
    <li><strong>Australian Girls Choir</strong> - Justin</li>
    <li><strong>Buttsweat and tears</strong> - Clint</li>
    <li><strong>Babbitt Beerhounds</strong> - Mark</li>
    <li><strong>Gardenhosers</strong> - Kyle</li>
    <li><strong>Pube Cruisers 3.0</strong> - Rocky</li>
    <li><strong>Any Given Everyday</strong> - Joe</li>
</ol>

<h4>Detailed results coming soon!</h4>

@code {

}
