@page "/results/2015"

<h2>World Fantasy Baseball Classic</h2>
<h3>2015 Results</h3>


<ol>
    <li><strong>MA⋯CHE⋯TE</strong> - Jake</li>
    <li><strong>Chudley Cannons</strong> - Tyler</li>
    <li><strong>Miguel Sano's Balls Tho</strong> - Mark</li>
    <li><strong>Buttsweat and tears</strong> - Clint</li>
    <li><strong>Pube Cruisers: Redemption</strong> - Rocky</li>
    <li><strong>Any Given Everyday</strong> - Joe</li>
    <li><strong>Pony Express</strong> - Josh</li>
    <li><strong>Springfield Isotopes</strong> - David</li>
    <li><strong>Rye Bread and Mustard</strong> - Justin</li>
    <li><strong>Time VORP</strong> - George</li>
</ol>

<h4>Detailed results coming soon!</h4>

@code {

}
