@page "/results/2013"

<h2>World Fantasy Baseball Classic</h2>
<h3>2013 Results</h3>


<ol>
    <li><strong>(T1) Chudley Cannons</strong> - Tyler</li>
    <li value=1><strong>(T1) Reign Your Ponies</strong> - Josh</li>
    <li value=3><strong>Fuck wins</strong> - Rocky</li>
    <li><strong>Buttsweat and tears</strong> - Clint</li>
    <li><strong>Biogenesis Club Card</strong> - </li>
    <li><strong>Too Baked to Rake</strong> - Justin</li>
    <li><strong>MA⋯CHE⋯TE</strong> - Jake</li>
    <li><strong>Gardenhosers</strong> - Kyle</li>
</ol>

<h4>Detailed results coming soon!</h4>

@code {

}
