@page "/results/2012"

<h2>World Fantasy Baseball Classic</h2>
<h3>2012 Results</h3>


<ol>
    <li><strong>Pube Cruisers 2.0</strong> - Rocky</li>
    <li><strong>Thor's Hammer</strong> - Joe</li>
    <li><strong>Chudley Cannons</strong> - Tyler</li>
    <li><strong>Pig Bimpin 0.9</strong> - Josh</li>
    <li><strong>Gardenhosers</strong> - Kyle</li>
    <li><strong>MA⋯CHE⋯TE</strong> - Jake</li>
    <li><strong>Buttsweat and tears</strong> - Clint</li>
    <li><strong>The JB</strong> - Justin</li>
</ol>

<h4>Detailed results coming soon!</h4>

@code {

}
