@page "/commish/add_manager"
@page "/commish/edit_manager/{managerID}"
@inherits AddEditManagerModel
@using WFBC.Client.Shared.Components.Buttons


<EditForm class="flex flex-col my-6 lg:mx-6 w-full md:w-1/2 lg:w-1/6" Model="@manager" OnValidSubmit="SaveManager">
    <DataAnnotationsValidator />
    <label class="block">
        <span class="text-wfbc-blue-2">First Name</span>
        <input @bind="manager.FirstName"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
        <ValidationMessage For="@(() => manager.FirstName)" />
    </label>
    <label class="block">
        <span class="text-wfbc-blue-2">Last Name</span>
        <input @bind="manager.LastName"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
        <ValidationMessage For="@(() => manager.LastName)" />
    </label>
    <label class="block">
        <span class="text-wfbc-blue-2">Email</span>
        <input @bind="manager.Email"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
        <ValidationMessage For="@(() => manager.Email)" />
    </label>
    <label class="block">
        <span class="text-wfbc-blue-2">Status</span>
        <InputSelect @bind-Value="manager.Status" class="mt-1 pl-2 h-6 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </InputSelect>
    </label>
    <label class="block">
        <span class="text-wfbc-blue-2">Access</span>
        <InputSelect @bind-Value="manager.Access" class="mt-1 pl-2 h-6 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0">
            <option value="Commish">Commish</option>
            <option value="Manager">Manager</option>
        </InputSelect>
    </label>

    <Button OnClickFunction=SaveManager ButtonText="Save Manager" ButtonType="submit" MaxWidth="max-w-full" MarginPadding="mx-2 mt-2 px-4 py-2" />
    <Button ButtonText="Cancel" Href="/commish/managers" MaxWidth="max-w-full" MarginPadding="mx-2 mt-2 px-4 py-2" />

</EditForm>

@code {

}
