@page "/commish/create_draft"
@page "/commish/edit_draft/{draftId}"
@inherits AddEditDraftModel

<EditForm class="flex flex-col my-6 lg:mx-6 w-full md:w-1/2 lg:w-1/12" Model="@draft" OnValidSubmit="SaveDraft">
    <DataAnnotationsValidator />
    <label class="block">
        <span class="text-wfbc-blue-2">Year</span>
        <input @bind="draft.Year"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
        <ValidationMessage For="@(() => draft.Year)" />
    </label>
    <label class="block">
        <span class="text-wfbc-blue-2">Type</span>
        <input @bind="draft.Type"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
        <ValidationMessage For="@(() => draft.Type)" />
    </label>
    <label class="block">
        <span class="text-wfbc-blue-2">Rounds</span>
        <input @bind="draft.Rounds"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
        <ValidationMessage For="@(() => draft.Rounds)" />
    </label>
    <button type="submit" class="mt-4 px-4 py-2 rounded-full bg-wfbc-blue-2 text-wfbc-white-1">Create Draft</button>
</EditForm>

@code {

}