@page "/commish"
@attribute [Authorize(Policy = Policies.IsCommish)]
@inherits CommishModel

<h3>Commish</h3>
<a class="button" role="button" href="/commish/create_draft" aria-label="create draft link">Create Draft</a>
<a class="button" role="button" href="/commish/managers" aria-label="manage managers">Managers</a>

@code {

}