@page "/draftpicks"

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Manager</th>
                <th>1st Round</th>
                <th>2nd Round</th>
                <th>3rd Round</th>
                <th>4th Round</th>
                <th>5th Round</th>
                <th>6th Round</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="bold-600">Rocky</span></td>
                <td><span class="strike">Rocky</span></td>
                <td><span class="strike">Rocky</span></td>
                <td>Rocky</td>
                <td>Rocky</td>
                <td>Rocky</td>
                <td>Rocky</td>
            </tr>
            <tr>
                <td></td>
                <td>Joe</td>
                <td>Josh</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Justin</span></td>
                <td><span class="strike">Justin</span></td>
                <td>Justin</td>
                <td><span class="strike">Justin</span></td>
                <td>Justin</td>
                <td>Justin</td>
                <td>Justin</td>
            </tr>
            <tr>
                <td></td>
                <td>Josh</td>
                <td></td>
                <td>Clint</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Jake</span></td>
                <td><span class="strike">Jake</span></td>
                <td>Jake</td>
                <td>Jake</td>
                <td>Jake</td>
                <td>Jake</td>
                <td>Jake</td>
            </tr>
            <tr>
                <td></td>
                <td>Josh</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Mark</span></td>
                <td>Mark</td>
                <td><span class="strike">Mark</span></td>
                <td>Mark</td>
                <td>Mark</td>
                <td><span class="strike">Mark</span></td>
                <td>Mark</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Patrick</td>
                <td></td>
                <td></td>
                <td>Rocky</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">David</span></td>
                <td>David</td>
                <td>David</td>
                <td>David</td>
                <td>David</td>
                <td>David</td>
                <td><span class="strike">David</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Justin</td>
            </tr>
            <tr>
                <td><span class="bold-600">Tyler</span></td>
                <td><span class="strike">Tyler</span></td>
                <td>Tyler</td>
                <td>Tyler</td>
                <td>Tyler</td>
                <td>Tyler</td>
                <td>Tyler</td>
            </tr>
            <tr>
                <td></td>
                <td>Kent</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Clint</span></td>
                <td>Clint</td>
                <td>Clint</td>
                <td>Clint</td>
                <td>Clint</td>
                <td>Clint</td>
                <td>Clint</td>
            </tr>
            <tr>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Joe</span></td>
                <td>Joe</td>
                <td>Joe</td>
                <td>Joe</td>
                <td>Joe</td>
                <td>Joe</td>
                <td>Joe</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Andy</span></td>
                <td>Andy</td>
                <td>Andy</td>
                <td>Andy</td>
                <td>Andy</td>
                <td>Andy</td>
                <td>Andy</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Patrick</span></td>
                <td>Patrick</td>
                <td>Patrick</td>
                <td>Patrick</td>
                <td>Patrick</td>
                <td>Patrick</td>
                <td>Patrick</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Kent</span></td>
                <td>Kent</td>
                <td>Kent</td>
                <td>Kent</td>
                <td>Kent</td>
                <td>Kent</td>
                <td>Kent</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="bold-600">Josh</span></td>
                <td>Josh</td>
                <td>Josh</td>
                <td>Josh</td>
                <td>Josh</td>
                <td>Josh</td>
                <td>Josh</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>


@code {

}
