@page "/schedule"

<div class="m-3 lg:m-6 max-w-screen-xl">

    <h1 class="text-3xl text-center pb-6">WFBC 2026 Schedule</h1>

    <div class="flex flex-col items-center">
        <table class="border-collapse border border-gray-400 text-sm sm:text-base">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-400 px-4 py-2 text-left">Event</th>
                    <th class="border border-gray-400 px-4 py-2 text-left">Date</th>
                    <th class="border border-gray-400 px-4 py-2 text-left">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-blue-100 font-bold">
                    <td class="border border-gray-400 px-4 py-2">PS Draft</td>
                    <td class="border border-gray-400 px-4 py-2">March 15</td>
                    <td class="border border-gray-400 px-4 py-2">7:00 PM</td>
                </tr>
                <tr>
                    <td class="border border-gray-400 px-4 py-2 italic pl-8">Drops Due</td>
                    <td class="border border-gray-400 px-4 py-2">March 13</td>
                    <td class="border border-gray-400 px-4 py-2">9:00 PM</td>
                </tr>
                <tr>
                    <td class="border border-gray-400 px-4 py-2 italic pl-8">Free Agency Ends</td>
                    <td class="border border-gray-400 px-4 py-2">March 22</td>
                    <td class="border border-gray-400 px-4 py-2">11:59 PM</td>
                </tr>
                <tr class="bg-blue-100 font-bold">
                    <td class="border border-gray-400 px-4 py-2">CBD</td>
                    <td class="border border-gray-400 px-4 py-2">May 17</td>
                    <td class="border border-gray-400 px-4 py-2">Slow Draft</td>
                </tr>
                <tr class="bg-blue-100 font-bold">
                    <td class="border border-gray-400 px-4 py-2">MS Draft</td>
                    <td class="border border-gray-400 px-4 py-2">July 13</td>
                    <td class="border border-gray-400 px-4 py-2">7:00 PM</td>
                </tr>
                <tr>
                    <td class="border border-gray-400 px-4 py-2 italic pl-8">Drops Due</td>
                    <td class="border border-gray-400 px-4 py-2">July 11</td>
                    <td class="border border-gray-400 px-4 py-2">9:00 PM</td>
                </tr>
                <tr>
                    <td class="border border-gray-400 px-4 py-2 italic pl-8">Free Agency Ends</td>
                    <td class="border border-gray-400 px-4 py-2">July 16</td>
                    <td class="border border-gray-400 px-4 py-2">9:00 PM</td>
                </tr>
                <tr class="bg-blue-100 font-bold">
                    <td class="border border-gray-400 px-4 py-2">Trade Deadline</td>
                    <td class="border border-gray-400 px-4 py-2">September 20</td>
                    <td class="border border-gray-400 px-4 py-2">9:00 PM</td>
                </tr>
            </tbody>
        </table>
        <p class="text-sm text-gray-500 pt-2">* All dates and times are subject to change</p>
    </div>

</div>

@code {

}
