@page "/rulebook/2016"

<div class="m-3 lg:m-6 max-w-screen-xl space-y-2">

    <h1 class="text-3xl text-center">2016 Rulebook</h1>
    <p class="text-2xl text-center pb-8">World Fantasy Baseball Classic</p>

    @*Fees and Payouts*@
    <h2 class="text-2xl pb-2">1 - Fees and Payouts</h2>
    <p>
        The 2016 ownership fee will be $150. This season will feature 10 teams and as such will work on a
        $1500 budget. $1300 will go to end of year payouts while the remaining $200 will pay the Rotowire
        Stat Service ($89) the Commissioners Fee.
    </p>
    <p>Payouts will be paid as follows:</p>
    <ol class="indent-4 pb-1">
        <l1>1st Place - $850</l1>
        <li>2nd Place - $300</li>
        <li>3rd Place - $150</li>
    </ol>
    <p>League fees are due prior to the pre-season draft.</p>


    @*Stats and Rankings*@
    <h2 class="text-2xl pb-2">2 - Stats and Rankings</h2>
    <p>
        Stats are provided by Rotowire. Team stats are updated live on Rotowire. League stats and rankings
        will update at the end of each day.
    </p>
    <h3 class="text-xl">Statistical categories are as follows:</h3>
    <h4 class="text-lg indent-4">Offensive</h4>
    <ul class="indent-4">
        <li>Batting Average</li>
        <li>Home Runs</li>
        <li>RBI</li>
        <li>Stolen Bases</li>
        <li>Runs Scored</li>
        <li>OPS</li>
    </ul>
    <h4 class="text-lg indent-4">Pitching</h4>
    <ul class="indent-4 pb-1">
        <li>ERA</li>
        <li>Quality Starts</li>
        <li>WHIP</li>
        <li>Saves</li>
        <li>Strikeouts</li>
        <li>Innings Pitched</li>
    </ul>
    <p>
        The WFBC is a rotisserie style league and as such owners will accumulate stats in the listed
        categories throughout the entirety of the Major League Baseball regular season. Counting stats such
        as Home Runs and Quality Starts will reward owners that accumulate the most of a given stat over
        the course of the season. Rate stats such as OPS and Batting Average reward owners that maintain
        the highest rate, while ERA and WHIP reward owners that maintain the lowest rate.
    </p>
    <p>
        Each stat category has a maximum point value of 10 and a minimum point value of 1. The maximum
        score an owner can achieve is 120 and the minimum is 12. The owner with the highest point total at
        the end of the regular season will be named WFBC League Champion. In the event of a tie the
        winner will be the tied owner with the highest number of statistical categories in which they placed
        1st. If the tie can still not be broken, the winner will be the owner with the highest number of statistical
        categories in which they finished 1st and 2nd. This process will continue until the tie is broken. If it is
        impossible to break the tie using this method the league will name co-champions and the two owners
        will split the 1st and 2nd place payouts.
    </p>
    <p>
        WFBC seasons are limited to 162 games and shall not consider regular season tie-breaking games
        for the purposes of WFBC stats and rankings.
    </p>

    @*Roster Composition*@
    <h2 class="text-2xl pb-2 pt-4">3 - Roster Composition</h2>
    <p>
        Each team consists of 40 roster spots. An owner can choose to roster less than 40 players, but may
        never have more than 40. Up to 15 of the 40 players on the roster will be in the starting lineup.
        Starting lineups will be composed as follows:
    </p>
    <ul class="indent-4 pb-1">
        <li>Infielders (1B, 2B, SS, and 3B)</li>
        <li>Outfielders (3)</li>
        <li>Catcher</li>
        <li>Utility Player</li>
        <li>Pitchers (6)</li>
    </ul>
    <p>The remaining 25 bench spots can be allocated with no restrictions on positions.</p>
    <p>
        Eligibility at a position is granted after 10 appearances in a particular position. Additionally players will
        carry position eligibility from the previous season. The first draft of a new season will use the number
        of games played by a player in any particular position from the previous year. After the season starts,
        a player must accumulate 10 games at a particular position that differs from his original position to be
        eligible at the new position. This results in a player that is eligible in multiple positions.
    </p>
    <p>
        Players entering the Major Leagues for the first time will use Rotowire’s default position to determine
        eligibility for that season. The following season, however, will only consider the players Major League
        playing time when determining their current eligibility. As an example, Miguel Sano played through the
        minor leagues as a 3B and was listed in Rotowire’s systems as a 3B. When called up to the Twins in
        2015 Sano was playable at 3B as this was his default position, but after accumulating only 9 games
        at 3B in 2015, Sano is only playable at UTIL to begin the 2016 campaign. Should Sano play 10
        games at any particular position other than DH in 2016 he will be granted that eligibility which he will
        carry to the 2017 season.
    </p>

    @*Draft*@
    <h2 class="text-2xl pb-2 pt-4">4 - Draft</h2>
    <p>
        The WFBC season will consist of three drafts. A Pre-Season and Mid-Season draft as well as a
        Competitive Balance draft.
    </p>
    <p><strong>Pre-Season Draft:</strong> Set to occur on Monday, March 28 at 8:00 PM.</p>
    <p><strong>Mid-Season Draft:</strong> Date TBD, but typically held within a few days of the All Star Game.</p>
    <p>
        <strong>Competitive Balance Draft:</strong> The Competitive Balance draft will take place no earlier than May 15th
        and no later than May 20th. Each team will have 1 pick. Competitive Balance picks are not eligible to
        be traded. Draft order will be based on May 15th standings, beginning with the team in last place.
    </p>
    <p>
        Players can be selected from either the American or National league. Additionally, owners can draft
        players in the Minor Leagues, or those that are not yet attached to a professional team in the United
        States (ex. International or Youth Players).
    </p>
    <p>
        The draft order will be based on the previous season rankings or current rankings in the case of the
        Mid-Season and Competitive Balance drafts. The owner finishing in last place will have the first pick
        in the following season’s Pre-Season draft. The draft order will repeat itself in all subsequent rounds.
        The draft will continue until each owner has filled all of their available roster spots, or no owner
        chooses to make another selection. Owners have the ability to release players and replace them with
        players from the Free Agent pool until 9pm (PST) on the night before the first game. The same rule
        applies to the period of time between the Mid-Season draft and the night before the first game of the
        second half. All Pre-Season and Mid-Season picks can be traded.
    </p>
    <p>
        To be eligible to participate in the draft an owner must release players from their current roster by the
        drop date which will be specified for each draft by the commissioner. The commissioner will make the
        released player pool public once all owners have submitted their player lists.
    </p>

    @*Roster Management*@
    <h2 class="text-2xl pb-2 pt-4">5 - Roster Management</h2>
    <p>
        Owners will manage their own rosters from Rotowire’s website. Roster moves can be made weekly
        and take effect each Monday. Changes must be submitted before the first game on Monday. Rosters
        will be locked throughout the week and players will not be moved in or out of a lineup midweek unless
        one of the following conditions are met.
    </p>
    <p>Midweek Exceptions:</p>
    <p>
        Injured Player — A player in the starting lineup is officially placed on the 7, 15, or 60 day DL.
        Exceptions will not be made for players on a paternity, bereavement, or any other form of leave. A
        player only becomes eligible for a roster move once a team has officially submitted the player name
        to the DL.
    </p>
    <p>
        Starting Player Trade — If a player currently being used in the starting lineup of an owner’s roster is
        traded midweek the empty starting roster spot is able to be filled from the owner’s bench. In the event
        that a trade opens a starting roster position that another starter on the same team is eligible for, an
        owner will be permitted to shift another starter into that open spot and replace the resulting open spot
        from the bench. If an owner receives a player in a trade midweek, but did not trade one of their
        starting players, the player the owner receives will not be eligible for immediate insertion into the
        lineup.
    </p>
    <p>
        Players may be released from an owners roster at any time, but players may not be picked up from
        the Free Agent pool between drafts or in the baseball offseason.
    </p>
    <p>
        Trades and player releases will be preformed by the league commissioner. Owners have control over
        lineup changes, but not personnel moves.
    </p>
    <p>
        Owners are limited to one team name in any particular WFBC season and team names will be
        manually changed back if this requirement is not met, you jerks.
    </p>

    @*Trades*@
    <h2 class="text-2xl pb-2 pt-4">6 - Trades</h2>
    <p>
        All trades during the season must be completed by 9pm (PST) on August 31. Trades
        may resume after the final game of the regular season. An owner may only trade rights to draft picks
        from the next four drafts (PS & MS only).
    </p>
    <p>
        If a player is eligible for multiple positions at the time of a trade, they will retain that
        status on the new team.
    </p>
    <p>
        Owners may take part in trades that involve uneven headcount. As an example, the league will allow
        an owner to trade a player in exchange for a draft pick, even if the owner that the player is being
        traded to currently has a full 40 man roster. In such a case the owner will be required to release
        enough players to keep their team to the 40 man limit before the traded player can be put in an active
        roster. If an owner fails to get their roster to 40 players within a week the commissioner has full
        authority to drop a player from the owner’s team.
    </p>
    <p>See section 5 for more info on how trades relate to current roster management.</p>

    @*Decision Making*@
    <h2 class="text-2xl pb-2 pt-4">7 - Decision Making</h2>
    <p>
        Major Rule changes will be pushed to a league vote. Rule changes will need a simple majority to
        pass. Language changes made in order to clarify an already established rule will not require a league
        vote. Final decision making power in the WFBC lives with the Commissioner. If for any reason the
        Commissioner chooses to veto a rule change they will have the right to do so.
    </p>
    <p>
        If a ruling needs to be made on an item that is not outlined in this rulebook the Commissioner will be
        tasked with resolving the issue and has final decision making power.
    </p>

    @*Dynasty Rules*@
    <h2 class="text-2xl pb-2 pt-4">8 - Dynasty Rules</h2>
    <p>
        Full rosters will be carried over year to year (except in cases of league expansion). There is no limit to
        the number of years an owner can control a player.
    </p>
</div>


@code {

}
