@page "/rulebook/2022"

<h2>World Fantasy Baseball Classic</h2>
<h3>2022 Rulebook</h3>


<h4>1. Stats and Rankings</h4>
<p>
    Stats are provided and updated by RotoWire 2022 Commissioner Service. League standings are determined by RotoWire.
</p>
<h5>Statistical categories are as follows:</h5>
<h6>Offensive</h6>
<ol>
    <li>Batting Average (AVG)</li>
    <li>Home Runs (HR)</li>
    <li>Runs Batted In (RBI)</li>
    <li>Stolen Bases (SB)</li>
    <li>Runs Scored (R)</li>
    <li>On-Base Plus Slugging (OPS)</li>
</ol>
<h6>Pitching</h6>
<ol>
    <li>Earned Run Average (ERA)</li>
    <li>Quality Starts (QS)</li>
    <li>Walks plus Hits per Inning Pitched (WHIP)</li>
    <li>Saves (S)</li>
    <li>Strikeouts (K)</li>
    <li>Innings Pitched (IP)</li>
</ol>
<p>
    The World Fantasy Baseball Classic is a rotisserie style dynasty league and as such teams will accumulate stats in the listed categories throughout the entirety of the Major League Baseball regular season. WFBC seasons are limited to 162 games and shall not consider regular season tie-breaking games for the purposes of WFBC stats and rankings. Counting stats such as Home Runs and Quality Starts will reward teams that accumulate the most of a given stat over the course of the season. Rate stats such as OPS and Batting Average reward teams that maintain the highest rate, while ERA and WHIP reward teams that maintain the lowest rate.
</p>
<p>
    Teams can score between 1 and 12 points in each statistical category. The team with the highest point total at the end of the regular season will be named WFBC League Champion. In the event of a tie the winner will be the team with 12 points in the most categories. If the tie still cannot be broken, the winner will be the team with the most top-2 category finishes. This process will continue until the tie is broken. If it is impossible to break the tie using this method the league will name co-champions and the two teams will split the 1st and 2nd place payouts.
</p>


<h4>2. Roster Composition</h4>
<p>
    Each team may roster up to 40 players between the Pre-Season Draft and the end of the season. There is no limit on roster size during the offseason. Up to 15 players on the roster can be in the starting lineup. Teams must fill starting lineup spots if an eligible player is on their roster. This requirement will be monitored by other managers in the league and violations reported to the commissioner. Repeat offenders will be subject to loss of draft picks at the commissioner's discretion. Starting lineup positions are as follows:
</p>
<ul>
    <li>(1) Catcher</li>
    <li>(1) First Baseman</li>
    <li>(1) Second Baseman</li>
    <li>(1) Third Baseman</li>
    <li>(1) Shortstop</li>
    <li>(3) Outfielders</li>
    <li>(1) Utility Player</li>
    <li>(6) Pitchers</li>
</ul>
<p>The remaining 25 bench spots can be allocated with no restrictions on positions.</p>
<p>
    Players will be eligible at a position if they have appeared there in at least 10 games during the current or previous regular season. Position eligibility is determined by RotoWire. Any hitter is eligible to fill the Utility Player role. Pitchers are not subject to the 10-game requirement.
</p>
<p>
    Minor league seasons will be used to determine eligibility of players entering the Major Leagues for the first time, following the same 10-game rule. Any season after their initial MLB appearance will only consider players' Major League games when determining position eligibility. Contact the commissioner to insert a first-year player into your lineup if necessary.
</p>
<p>
    * Players such as Shoehei Ohtani who are listed as both hitters and pitchers will only count as a single player toward the roster limit. The hitter and pitcher versions of these players must always be on the same team.
</p>


<h4>3. Draft</h4>
<p>
    The WFBC will hold three drafts each season. The drafts and subsequent Free Agency periods will be the only times teams are permitted to add players from the Free Agent pool.
</p>
<p><strong>Pre-Season Draft:</strong> Saturday, April 2 at 7PM PST.</p>
<p><strong>Mid-Season Draft:</strong> Date TBD, but typically held within a few days of the All Star Game.</p>
<p>
    <strong>Competitive Balance Draft:</strong> 
    The Competitive Balance Draft (CBD) will take place on May 15. Each team will receive one pick. The draft order will be reverse of the standings once games have ended on May 14. The CBD will be a slow draft starting at 1PM PST. Teams will have 30 minutes from the previous selection to make their pick, which must be accompanied by a drop if necessary. For 2022 only, additional CBD rounds will be added for managers who earned picks based on their 2021 finish. They are Patrick (2 picks), Andy (2 picks), Kent (1 pick), Joe (1 pick), Jake (1 pick). Rounds will proceed based on the same order as the first round. Competitive Balance Draft picks cannot be traded.
</p>
<p>
    To be eligible to participate in Pre-Season and Mid-Season drafts teams must have fewer than 40 players. Teams must release players from their current roster by the drop date which will be specified by the commissioner.
</p>
<p>
    Players can be selected from either the American or National League. Additionally, teams can draft players in the Minor Leagues, or those not yet attached to a professional team in the United States (ex. International or Youth Players).
</p>
<p>
    The Pre-Season draft order will be based on previous season finish and the Mid-Season draft order will be determined by current season standings. The owner in last place will have the first pick, followed by the owner in second-to-last, and so on. The draft order will repeat itself in all subsequent rounds. The draft will continue until each owner has filled all of their available roster spots, or no owner chooses to make another selection.
</p>
 <p>   
    A Free Agency period will begin following the last pick of the Pre-Season and Mid-Season drafts. The commissioner will determine the length of Free Agency. There will be no Free Agency following the Competitive Balance Draft.
</p>
<p>
    All Pre-Season and Mid-Season draft picks can be traded.
</p>

<h4>4. Team & Roster Management</h4>
<p>
    Teams will manage their own rosters from <a href="https://www.rotowire.com/mlbcommish22/team.php?leagueID=4" target="_blank">RotoWire’s website</a>. Rosters are set weekly and lock after the scheduled start of the first game on Monday. Players cannot be moved in or out of a lineup midweek unless one of the following conditions are met.
</p>
<p><strong>Midweek Exceptions </strong>- contact the commissioner to make a lineup move midweek if one of the following applies:</p>
<p>
    Injured Player — A player in the starting lineup is officially placed on the 7, 15, or 60 day Injured List. Exceptions will not be made for players on a paternity, bereavement, or any other form of leave. A player only becomes eligible for a roster move once a team has officially submitted the player's name to the IL. The IL placement must appear on the WFBC RotoWire team page or MLB.com. In the event of erroneous information regarding IL placement, the WFBC move will be reversed. Placement on the COVID-19 Injured List will also be grounds for a roster move.
</p>
<p>
    Starting Player Trade — If a player currently in a team's starting lineup is traded midweek the empty starting roster spot can be filled from the owner’s bench. In the event a trade opens a starting roster position that another player in the starting lineup is eligible for, teams will be permitted to shift the starting player into the open spot and fill the resulting open position from the bench. If an owner receives a player in a trade midweek, but did not trade one of their starting players, the player the owner receives will not be eligible for immediate insertion into the lineup.
</p>
<p>
    Players may be released from a team's roster at any time.
</p>
<p>
    Trades, adds, and drops will be performed by the league commissioner. Managers have control over weekly lineup changes, but not personnel moves.
</p>
<p>
    Team names must be finalized by April 15. Teams are limited to one name per season and names will be manually changed back if this requirement is not met, you jerks. Frequent name changes may result in additional penalties such as loss of draft picks. Inconsistent team names make the commissioner's job harder.
</p>


<h4>5. Trades</h4>
<p>
    Teams may trade players and draft picks any time other than during the final week of the season. All trades during the season must be completed by 9pm (PST) one week before the end of the regular season. Trades may resume after the final game of the regular season. Teams may only trade draft picks from the next four Pre-Season or Mid-Season drafts. For example, teams cannot trade picks in the 2025 Pre-Season draft until after the 2023 Pre-Season draft.
</p>
<p>
    If a player is eligible for multiple positions at the time of a trade, they will retain that status on the new team.
</p>
<p>
    Teams may take part in trades that involve uneven headcount. For example, teams may trade a player in exchange for a draft pick, even if the team the player is being traded to currently has a full roster. In such a case the team will be required to release players to satisfy the 40-player limit before the traded player can be put in their active roster. If a team fails to get their roster to 40 players within a week the commissioner has full authority to drop a player from the team.
</p>
<p>See section 4 for more info on how trades affect roster management.</p>

<h4>6. Decision-Making</h4>
<p>
    Major rule changes will be pushed to a league vote. Rule changes will need a simple majority to pass. Language changes made in order to clarify an already established rule will not require a league vote. Final decision-making power in the WFBC lives with the commissioner. If for any reason the commissioner chooses to veto a rule change, they will have the right to do so.
</p>
<p>
    If a ruling needs to be made on an item that is not outlined in this rulebook the commissioner will be tasked with resolving the issue and has final decision-making power.
</p>


<h4>7. Dynasty Rules</h4>
<p>
    Full rosters will be carried over year to year (except in cases of league expansion). There is no limit to the number of years an owner can control a player.
</p>

<h4>8. League Fees</h4>
<p>
    WFBC fees for the 2022 season are $150 per team. This provides $1,800 for operating costs and prizes.
</p>
<h6>Costs</h6>
<ul>
    <li>$100 - RotoWire Commissioner Service</li>
    <li>$100 - Website domain and hosting</li>
</ul>
<h6>Prizes</h6>
<ul>
    <li>$900 - First Place</li>
    <li>$450 - Second Place</li>
    <li>$250 - Third Place</li>
</ul>

@code {

}
