@page "/rulebook/2011"

<div class="m-3 lg:m-6 max-w-screen-xl space-y-2">

    <h1 class="text-3xl text-center">2011 Rulebook</h1>
    <p class="text-2xl text-center">World Fantasy Baseball Classic</p>
    <p class="text-center pb-8">Rules for the 2011 World Fantasy Baseball Classic</p>

    @*1.1 Ownership Fees*@
    <h2 class="text-2xl pb-2">1.1 Ownership Fees</h2>
    <p>
        The 2011 ownership fees will be $50. $10 for Rotowire stat service, $7.50 commissioners fee, $2.50 trophy fee, and $30 for payouts.
    </p>

    @*2.1 Payouts*@
    <h2 class="text-2xl pb-2 pt-4">2.1 Payouts</h2>
    <p>
        Payouts will be paid as follows:
    </p>
    <ul>
        <li>1st Place - 50% - $135</li>
        <li>2nd Place - 30% - $81</li>
        <li>3rd Place - 20% - $54</li>
    </ul>

    @*3.1 Team Ranking*@
    <h2 class="text-2xl pb-2 pt-4">3.1 Team Ranking</h2>
    <h4 class="text-lg indent-4">3.1.1</h4>
    <p>
        Stats for the WFBC will be done by Rotowire. Up to date team stats will be available on rotowire.com daily. Roster changes will be reflected on the Monday following the change.
    </p>
    <h4 class="text-lg indent-4">3.1.2</h4>
    <p>
        Statistical categories are as follows:
    </p>
    <h4 class="text-lg indent-4">Offensive</h4>
    <ol class="indent-4">
        <li>Batting Average</li>
        <li>Home Runs</li>
        <li>Runs Batted In (RBI)</li>
        <li>Stolen Bases</li>
        <li>Runs Scored</li>
        <li>On-base Plus Slugging (OPS)</li>
    </ol>
    <h4 class="text-lg indent-4">Defensive</h4>
    <ol class="indent-4 pb-1">
        <li>Earned Run Average (ERA)</li>
        <li>Pitching Wins</li>
        <li>Walks plus Hits per Inning Pitched (WHIP)</li>
        <li>Saves</li>
        <li>Strikeouts</li>
        <li>Innings Pitched</li>
    </ol>

    @*4.1 Player Positions*@
    <h2 class="text-2xl pb-2 pt-4">4.1 Player Positions</h2>
    <p>
        Players official positions will be determined by playing in a position 10 games or more (including DH). The first draft of a new season will use the number of games played by a player in any particular position from the previous year. After the season starts, a player must complete 10 games in a position outside of his original position to be eligible at the new position. This results in a player that is eligible in multiple positions. Minor league players can be drafted at any position, however, when said player enters the Major Leagues, they will follow the aforementioned rule.
    </p>

    @*5.1 Player Draft*@
    <h2 class="text-2xl pb-2 pt-4">5.1 Player Draft</h2>
    <h4 class="text-lg indent-4">5.1.1</h4>
    <p>
        The first draft will be held at 6pm (PST) on Sunday, March 27, 2011. Drafting order will be determined randomly. The first team will select a player, followed by the second team, and so on. After the final team makes their first selection, they will make the first selection of the second round, followed by the second to last team to pick from the first round, and so on. The draft will continue until each team has filled all of their available roster spots, or no teams choose to make another selection. Owners have the ability to release drafted players and replace them with players from the Free Agent pool until 9pm (PST) on the night before Opening Day. All picks can be traded.
    </p>
    <h4 class="text-lg indent-4">5.1.2</h4>
    <p>
        The mid-season draft will take place at 6pm on All Star night. The draft order will be based on the current team standings. The last place team will pick first and the first place team will pick last. In the second round, the last place team will pick first and the first place team will pick last. The draft will continue until each team has filled all of their available roster spots, or no teams choose to make another selection. Owners have the ability to release drafted players and replace them with players from the Free Agent pool until 9pm (PST) on the night before the first game of the second half of the season. All picks can be traded. Teams opting to release players to open up roster spots must do so by 9pm (PST) the night before the draft.
    </p>
    <h4 class="text-lg indent-4">5.1.3</h4>
    <p>
        The end-of-season draft will take place on the last Sunday before September at 9pm (PST). The last place team will pick first and the first place team will pick last. In the second round, the last place team will pick first and the first place team will pick last. The draft will continue until each team has filled all of their available roster spots, or no teams choose to make another selection. All picks can be traded. Teams opting to release players to open up roster spots must do so by 9pm (PST) the night before the draft.
    </p>

    @*6.1 Player Limitations*@
    <h2 class="text-2xl pb-2 pt-4">6.1 Player Limitations</h2>
    <h4 class="text-lg indent-4">6.1.1</h4>
    <p>
        Each team will be composed of 40 players. Players can be selected from either the American or National league. Additionally, owners can draft players in the minors league, or those that are not yet attached to a professional team in the United States (ex. International or Youth Players).
    </p>
    <h4 class="text-lg indent-4">6.1.2</h4>
    <p>
        Fifteen of the 40 players on the roster will be in the starting lineup. Starting lineups will be composed as follows:
    </p>
    <ul class="indent-4 pb-1">
        <li>Four Infielders (One 1B, 2B, 3B, and SS)</li>
        <li>Three Outfielders</li>
        <li>One Catcher</li>
        <li>One Designated Hitter (DH)</li>
        <li>Six Pitchers</li>
    </ul>
    <p>The remaining 25 spots can be allocated with no restrictions on positions.</p>

    @*7.1 Player Changes*@
    <h2 class="text-2xl pb-2 pt-4">7.1 Player Changes</h2>
    <h4 class="text-lg indent-4">7.1.1</h4>
    <p>
        Teams can make trades of lineup changes anytime during the week, but the players statistics continue on their original team (and original position) through Sunday's games. When a player goes on Injured Reserve (IR) their stats will also continue to accumulate through Sunday.
    </p>
    <h4 class="text-lg indent-4">7.1.2</h4>
    <p>
        Owners will be allowed 10 unforced moves (starting lineup changes not involving players that are on IR) from the first game of the season to September 1. Unforced moves cannot be traded. Lineup changes between draft night and the first game following the draft will not require an unforced move. Owners will be allowed as many unforced moves as they want from September 1 through the end of the current season (rule 7.1.1 still applies).
    </p>
    <h4 class="text-lg indent-4">7.1.3</h4>
    <p>
        Players can not be picked up from the Free Agent pool between drafts or in the baseball offseason.
    </p>
    <h4 class="text-lg indent-4">7.1.4</h4>
    <p>
        Player stats will only count if the stats are accumulated in the MLB (minor league stats will not count).
    </p>
    <h4 class="text-lg indent-4">7.1.5</h4>
    <p>
        Should the major league season require additional games to determine playoff season or participants, those games will count towards WFBC league stats.
    </p>
    <h4 class="text-lg indent-4">7.1.6</h4>
    <p>
        Lineup changes will be done by the league commissioner to ensure unforced moves and other league rules are being properly tracked and enforced. All lineup changed must be received by 9pm (PST) on Sunday to be valid for the next week. Changes can be submitted at any time during the week for the following week. Please send changes to:
    </p>
    <p class="indent-4">
        [email removed]<br>
        or text message me at: [phone removed]<br>
        additionally, I can be reached at: [email removed]
    </p>
    <p>
        Please include the changes and date you wish these changes to be active in your message.
    </p>

    @*8.1 Trades*@
    <h2 class="text-2xl pb-2 pt-4">8.1 Trades</h2>
    <h4 class="text-lg indent-4">Next Season Fees</h4>
    <p>
        When a trade involved the next WFBC season, the next years ownership fees need to be paid before the trade is official.
    </p>
    <h4 class="text-lg indent-4">8.1.2</h4>
    <p>
        All trades during the season must be completed by 9pm (PST) on August 31. Trades can resume after the final game of the World Series.
    </p>
    <h4 class="text-lg indent-4">8.1.3</h4>
    <p>
        No more than 2 draft picks can be included in one trade.
    </p>
    <h4 class="text-lg indent-4">8.1.4</h4>
    <p>
        If a player is eligible for multiple positions at the time of a trade, they will retain that status on the new team.
    </p>

    @*9.1 New Owners*@
    <h2 class="text-2xl pb-2 pt-4">9.1 New Owners</h2>
    <h4 class="text-lg indent-4">9.1.1</h4>
    <p>
        If an owner chooses to give up their team (in or out of season), any current owner will be allowed to put their team's players in a temporary pool along with the vacated team's players. A miniature draft will be held as-soon-as-possible. If no current team chooses to use this right, the team will remain as is.
    </p>
    <h4 class="text-lg indent-4">9.1.2</h4>
    <p>
        Procedures for off season league expansion will be discusses following the 2011 World Series.
    </p>

    @*10.1 Decision Making*@
    <h2 class="text-2xl pb-2 pt-4">10. Decision Making</h2>
    <h4 class="text-lg indent-4">10.1.1</h4>
    <p>
        Items of debate will be pushed to a league vote. Items will need a simple majority to pass.
    </p>
    <h4 class="text-lg indent-4">10.2.1</h4>
    <p>
        Final decisions concerning the WFBC will be made by the commissioner.
    </p>
    <h4 class="text-lg indent-4"> 10.3.1</h4>
    <p>
        The commissioner can be changed in the off season if owners choose to nominate a different owner. This decision will be made by league vote.
    </p>

    @*11.1*@
    <h2 class="text-2xl pb-2 pt-4">11.1</h2>
    <p>
        Teams will be carried over from year to year.
    </p>
</div>

@code {

}
