@page "/rulebook/2024"

<div class="m-3 lg:m-6 max-w-screen-xl space-y-2">

    <h1 class="text-3xl text-center">2024 Rulebook</h1>
    <p class="text-2xl text-center">World Fantasy Baseball Classic</p>
    <p class="text-center pb-8">Unofficial rulebook using text from PDF distributed by Rickmissioner on February 21, 2024.</p>

    @*Stats and Rankings*@
    <h2 class="text-2xl pb-2">1. Stats and Rankings</h2>
    <p>
        The World Fantasy Baseball Classic is a rotisserie style fantasy baseball league. Teams accumulate stats in the categories listed below throughout the entirety of the Major League Baseball regular season.
    </p>
    <p>
        All stats are provided and updated by RotoWire MLB Commissioner Service. League standings are calculated by RotoWire. Statistical categories are as follows:
    </p>
    <h4 class="text-lg indent-4">Hitting</h4>
    <ul class="indent-4">
        <li>Batting Average (AVG)</li>
        <li>Home Runs (HR)</li>
        <li>Runs Batted In (RBI)</li>
        <li>Stolen Bases (SB)</li>
        <li>Runs Scored (R)</li>
        <li>On-Base Plus Slugging (OPS)</li>
    </ul>
    <h4 class="text-lg indent-4">Pitching</h4>
    <ul class="indent-4 pb-1">
        <li>Earned Run Average (ERA)</li>
        <li>Quality Starts (QS)</li>
        <li>Walks plus Hits per Inning Pitched (WHIP)</li>
        <li>Saves (S)</li>
        <li>Strikeouts (K)</li>
        <li>Innings Pitched (IP)</li>
    </ul>
    <p>
        Counting stats such as Home Runs and Quality Starts will reward teams that accumulate the most of a given stat over the course of the season. Rate stats such as OPS and Batting Average reward teams that maintain the highest rate, while ERA and WHIP reward teams that maintain the lowest rate.
    </p>
    <p>
        Teams can score between 1 and 12 points in each statistical category. The team with the highest point total at the end of the regular season will be named WFBC League Champion. In the event of a tie the winner will be the team with 12 points in the most categories. If the tie still  cannot be broken, the winner will be the team with the most top-2 category finishes. This process will continue until the tie is broken. If it is impossible to break the tie using this method the league will name co-champions and the two teams will split the 1st and 2nd place payouts.
    </p>
    <p>
        WFBC seasons are limited to 162 games and shall not consider regular season tie-breaking games for the purposes of WFBC stats and rankings.
    </p>

    @*Roster Composition*@
    <h2 class="text-2xl pb-2 pt-4">2. Roster Composition</h2>
    <p>
        Each team may roster up to 40 players between the preseason Draft and the end of the season. There is no limit on roster size during the offseason.
    </p>
    <p>
        Up to 15 players on the roster can be in the starting lineup. Teams must fill starting lineup spots if an eligible player is on their roster. This requirement will be monitored by other managers in the league and violations reported to the commissioner. Repeat offenders will be subject to loss of draft picks at the commissioner's discretion. Starting lineup positions are as follows:
    </p>
    <ul class="indent-4 pb-1">
        <li>(1) Catcher</li>
        <li>(1) First Baseman</li>
        <li>(1) Second Baseman</li>
        <li>(1) Third Baseman</li>
        <li>(1) Shortstop</li>
        <li>(3) Outfielders</li>
        <li>(1) Utility Player</li>
        <li>(6) Pitchers</li>
    </ul>
    <p>The remaining 25 bench spots can be allocated with no restrictions on positions.</p>
    <p>
        Players will be eligible at a position if they have appeared there in at least 10 games during the current or previous regular season. Position eligibility is determined by RotoWire. Any hitter is eligible to fill the Utility Player role. Pitchers are not subject to the 10-game requirement.
    </p>
    <p>
        Minor league or foreign league seasons will be used to determine eligibility of players entering the Major Leagues for the first time, following the same 10-game rule. Any season after their initial MLB appearance will only consider players' Major League games when determining  position eligibility. Contact the commissioner to insert a first-year player into your lineup if  necessary.
    </p>
    <p>
        Players such as Shoehei Ohtani who are listed as both hitters and pitchers will only count as a single player toward the roster limit. The hitter and pitcher versions of these players must  always be on the same team.
    </p>

    @*Draft*@
    <h2 class="text-2xl pb-2 pt-4">3. Draft</h2>
    <p>
        The WFBC will hold the following drafts each season. The drafts and subsequent Free Agency periods will be the only times teams are permitted to add players from the Free Agent pool.
    </p>
    <ul class="indent-4 pb-1">
        <li><strong>Preseason (PS) Draft</strong>: Sunday March 17th at 7pm PST </li>
        <li>
            <strong>Competitive Balance Draft</strong>: Sunday May 12th via slow draft
            ○ Each team will receive one pick. The CBD draft order will be the reverse of the standings once games have ended on May 11th. The CBD will be a slow draft starting at 11am PST. Teams will have 30 minutes from the previous selection to make their pick, which must be accompanied by a drop if necessary. Competitive Balance Draft picks cannot be traded
        </li>
        <li><strong>Midseason (MS) Draft</strong>: Sunday July 14th at 7pm PST</li>
        <li><strong>Chaos Draft</strong>: Date TBD. See Chaos Spins (Section 8) for details.</li>
    </ul>
    <p>
        To be eligible to participate in drafts teams must have fewer than 40 players. Teams must release players from their current roster by the drop date which will be specified by the commissioner.
    </p>
    <p>
        The preseason draft order will be based on previous season finish and the midseason draft order will be determined by current season standings. The owner in last place will have the first pick, followed by the owner in second-to-last, and so on. The draft order will repeat itself in all subsequent rounds. The draft will continue until each owner has filled all of their available roster spots, or no owner chooses to make another selection.
    </p>
    <p>
        A Free Agency period will begin following the last pick of the preseason and midseason drafts. The commissioner will determine the length of Free Agency. There will be no Free Agency following the Competitive Balance Draft.
    </p>
    <p>
        All preseason and midseason draft picks can be traded. Preseason draft pick trades are in effect during the Chaos Draft, as defined in Chaos Spins (Section 8).
    </p>

    @*Team & Roster Management*@
    <h2 class="text-2xl pb-2 pt-4">4. Team & Roster Management</h2>
    <p>
        Teams will manage their own rosters from RotoWire’s website. Rosters are set weekly and lock after the scheduled start of the first game on Monday. Players cannot be moved in or out of a lineup midweek unless one of the following conditions are met.
    </p>
    <p><strong>Midweek Exceptions </strong>- contact the commissioner to make a lineup move midweek if one of the following applies:</p>
    <ul class="indent-4 pb-1">
        <li><strong>Injured List, Bereavement List, Paternity List</strong> — A player in the starting lineup is officially placed on any MLB team’s Injured List, Bereavement List, or Paternity List </li>
        <li>
            <strong>Suspension</strong> - A player in the starting lineup is officially suspended or placed on administrative leave by MLB
            ○ For all list placements and suspensions, a player only becomes eligible for a roster move once the MLB team has officially submitted the player's name to the respective list. The list placement must appear on the WFBC Rotowire team page or MLB.com. If games have started by the time the request is made, the lineup move will take effect the following day.
        </li>
        <li><strong>Starting Player Trade</strong> — If a player currently in a team's starting lineup is traded midweek the empty starting roster spot can be filled from the owner’s bench. In the event a trade opens a starting roster position that another player in the starting lineup is eligible for, teams will be permitted to shift the starting player into the open spot and fill the resulting open position from the bench. If an owner receives a player in a trade midweek, but did  not trade one of their starting players, the player the owner receives will not be eligible for immediate insertion into the lineup. </li>
    </ul>
    <p>
        Players may be released from a team's roster at any time.
    </p>
    <p>
        Trades, adds, and drops will be performed by the league commissioner. Managers have control over weekly lineup changes, but not personnel moves.
    </p>
    <p>
        Team names must be finalized by April 15. Teams are limited to one name per season and names will be manually changed back if this requirement is not met. Frequent name changes may result in additional penalties such as loss of draft picks.
    </p>

    @*Trades*@
    <h2 class="text-2xl pb-2 pt-4">5. Trades</h2>
    <p>
        Teams may trade players and draft picks any time other than during the final week of the season. All trades during the season must be completed by 9pm (PST) one week before the end of the regular season. Trades may resume after the final game of the regular season.
    </p>
    <p>
        Teams may only trade draft picks from the next four preseason or midseason drafts.
    </p>
    <p>
        When a roster size limit is in effect, trades will not be processed until all teams have submitted drops to stay within the limit.
    </p>

    @*Decision Making*@
    <h2 class="text-2xl pb-2 pt-4">6. Decision Making</h2>
    <p>
        Major rule changes will be pushed to a league vote. Rule changes will need a simple majority to  pass. Language changes made in order to clarify an already established rule will not require a  league vote. If for any reason the commissioner chooses to veto a rule change, they will have  the right to do so.
    </p>
    <p>
        If a ruling needs to be made on an item that is not outlined in this rulebook the commissioner will be tasked with resolving the issue and has final decision-making power.
    </p>
    <p>
        <strong>Fun Clause</strong> - Not every situation that can come up has been outlined in these rules and as such at times decisions will need to be made in real time to address a unique scenario. It is the commissioners commitment and responsibility to always make the most fun version of a decision to address the scenario.
    </p>

    @*Dynasty Rules*@
    <h2 class="text-2xl pb-2 pt-4">7. Dynasty Rules</h2>
    <p>
        There is no limit to the number of years an owner can control a player. Full rosters will be carried over year to year, except as allowed by the rules governing Chaos Spins (Section 8) or in cases of league expansion.
    </p>

    @*Chaos Spins*@
    <h2 class="text-2xl pb-2 pt-4">8. Chaos Spins</h2>
    <p>
        Prior to each season, no later than 2 weeks before the preseason draft, the WFBC commissioner will schedule the league's annual "Chaos Spins".
    </p>
    <p>
        Prior to the Chaos Spins, every team must drop to a roster size no greater than 40 (plus the number of 2-way players on their roster).
    </p>
    <p>
        All owners will assign a number from 1-40 to each of their currently rostered players. If a team has less than 40 players, blank roster spots will also be assigned a number. 2-way players will be assigned a single number. If the owner does not submit number assignments, the commissioner will assign numbers to each owner's roster using alphabetical order by last name.
    </p>
    <p>
        A commissioner-approved random number generator (the "Wheel of Chaos") will select a number between 1-40. For each number selected, every WFBC team will drop the player assigned to that number. All players dropped will enter the Free Agent pool.
    </p>
    <p>
        The Wheel of Chaos will be spun 5 times. If the Wheel lands on a number that was already selected in that year's Chaos Spins, the Wheel will be spun again.
    </p>
    <p>
        Within 10 days following the Chaos Spins, the first 3 rounds of the next season’s preseason draft will be held via slow draft as a “Chaos Draft”. This is not a separate draft for which picks can be traded. All trades for preseason draft picks will be in effect during this draft.
    </p>

    @*League Fees*@
    <h2 class="text-2xl pb-2 pt-4">9. League Fees</h2>
    <p>
        WFBC fees for the 2023 season are $200 per team. This provides $2400 to be submitted to the Designated Owner as defined in Invest The Funds (Section 10)
    </p>

    @*Invest The Funds*@
    <h2 class="text-2xl pb-2 pt-4">10. Invest The Funds</h2>
    <p>
        All entry fees will be submitted as funds to a Designated Owner for them to “invest” over the course of the WFBC season. All investment decisions are the sole responsibility of the Designated Owner. The Designated Owner agrees to not be a dick and spend the funds on anything other than the chosen investments.
    </p>
    <p>
        For the 2024 season, the Designated owner is Rocky.
    </p>
    <p>
        No later than 1 week after the end of the World Series, the Designated Owner will return all remaining post-tax invested funds to the commissioner. If all funds are lost while invested, the Designated Owner is not responsible for returning money. All returned funds will be distributed per Payouts (Section 11)
    </p>

    @*Payouts*@
    <h2 class="text-2xl pb-2 pt-4">11. Payouts</h2>
    <p>
        Prior to Invest The Funds, the 2023 winnings were distributed as follows:
    </p>
    <ul>
        <li>$1200 (54.55%) - First Place</li>
        <li>$600 (27.27%) - Second Place</li>
        <li>$400 (18.18%) - Third Place</li>
    </ul>
    <p>
        All returned funds from Invest The Funds (Section 10) will be distributed as payouts using the same percentages as the 2023 payouts:
    </p>
    <ul>
        <li>54.55% - First Place</li>
        <li>27.27% - Second Place</li>
        <li>18.18% - Third Place</li>
    </ul>
</div>


@code {

}
